{{range .}}
docker create \
-e ES_INDEX=test{{.}} \
-e ES_PORT={{add . 8080}} \
-e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
-e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
-e ES_QUEUE=$ES_QUEUE \
-e ES_INDEXER=./indexer.sh \
--net=host --name=loader{{.}} go_indexer 
{{end}}
