{{range .}}
docker run \
-d \
-m 4g \
-v /data/data{{.}}:/data \
-p {{add . 8080}}:9200 \
-e ES_CLUSTER_NAME=es{{.}} \
-e ES_HEAP_SIZE=3g \
--name=es{{.}} --restart=always mikeplavsky/elasticsearch
{{end}}
