<form name="etadetail" class='cui-form-stacked' novalidate>


    <div class='cui-form-group'>
        <label for='from'>Logs</label>
        <cui-text-box ng-model='eta.files'>
        </cui-text-box>
    </div>

    <div class='cui-form-group'>
        <label for='eta'>Time</label>
        <cui-text-box ng-model='eta.time'>
        </cui-text-box>
    </div>

    <div class='cui-form-group'>
        <a href="https://console.aws.amazon.com/sqs/home?region=us-east-1#queue-browser:prefix={{queue}}">Queue</a>
    </div>

</form>
