<form class='cui-form-stacked' novalidate>

  <div class='cui-form-group'>
    <label for='from'>From</label>
    <cui-text-box id="from"
                  cui-date-time-picker
                  ng-model='job.from'
                  date-parser='short'
                  placeholder='m/d/yy h:mm a'
                  required>
    </cui-text-box>
  </div>

  <div class='cui-form-group'>
    <label for='to'>To</label>
    <cui-text-box id="to"
                  cui-date-time-picker
                  ng-model='job.to'
                  date-parser='short'
                  placeholder='m/d/yy h:mm a'
                  required>
    </cui-text-box>
  </div>

  <cui-button ng-click='reset()'>Reset</cui-button>
  <cui-button type='primary'>Submit</cui-button>

</form>
