<form name="jobdetail" class='cui-form-stacked' novalidate>

  <div class='cui-form-group'>
    <label for='from'>From</label>
    <cui-text-box cui-date-time-picker
                  ng-model='job.from'
                  date-parser='short'
                  placeholder='m/d/yy h:mm a'
                  required>
    </cui-text-box>
  </div>

  <div class='cui-form-group'>
    <label for='to'>To</label>
    <cui-text-box cui-date-time-picker
                  ng-model='job.to'
                  date-parser='short'
                  placeholder='m/d/yy h:mm a'
                  required>
    </cui-text-box>
  </div>

  <div class='cui-form-group'>

    <label for='to'>Number of logs</label>
    <cui-text-box ng-model='job.count' >
    </cui-text-box>

  </div>

  <div class='cui-form-group'>

    <label for='to'>Size</label>
    <cui-text-box ng-model='job.size' >
    </cui-text-box>

  </div>

  <cui-button ng-click='calculate()'>Calculate</cui-button>
  <cui-button type='primary'>Submit</cui-button>

</form>
